# Node modules
node_modules/

# Environment variables
.env

# Build output
dist/
build/

# Logs
logs/
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?