:root {
  font-size: 16px;
}

.header {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 7vw;
  justify-content: space-between;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

  .logo {
    height: 12vh;
  }

  .action {
    all: unset;
    cursor: pointer;

    .cart-icon, .account-icon {
      fill: #000;
      height: 4vh;
      cursor: pointer;
    }

    .account-icon {
        margin-left: 2vw;
    }
  }

  .navbar-wrapper ul {
    display: flex;
    align-items: center;
    gap: 4vw;

    li {
        list-style: none;
        font-size: 1.25rem;
        font-family: 'Poppins', serif;

        a {
            text-decoration: underline 1px solid white;
            color: #000;
            text-underline-offset: 0.5rem;
        }

        a:hover {
            text-decoration: underline 2px solid black;
            transition: 500ms ease;
        }
    }
  }
}
